<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário de Preferências do Cliente</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Informe suas preferências de imóvel </h1>

  <form method="POST">
    <label for="tipo">Tipo:</label>
    <select name="tipo" required>
      <option value="venda">Comprar</option>
      <option value="Aluguel">Alugar</option>
    </select>

    <label for="cidade">Cidade:</label>
    <input type="text" name="cidade" required>

    <label for="bairro">Bairro:</label>
    <input type="text" name="bairro" required>

    <label for="quartos">Mínimo de Quartos:</label>
    <input type="number" name="quartos" required>

    <label for="vagas">Mínimo de Vagas:</label>
    <input type="number" name="vagas" required>

    <label for="area">Área mínima (m²):</label>
    <input type="number" name="area" required>

    <label for="aceita_pets">Aceita Pets:</label>
    <input type="checkbox" name="aceita_pets"><br>

    <button type="submit">Buscar Imóveis</button>
  </form>

  {% if recomendacoes %}
    <h2>Imóveis Recomendados:</h2>
    {% for imovel in recomendacoes %}
      <div class="card">
        <h3>{{ imovel['titulo'] }}</h3>
        <p><strong>Tipo:</strong> {{ imovel['tipo'] }}</p>
        <p><strong>Cidade:</strong> {{ imovel['cidade'] }}</p>
        <p><strong>Bairro:</strong> {{ imovel['bairro'] }}</p>
        <p><strong>Quartos:</strong> {{ imovel['quartos'] }}</p>
        <p><strong>Vagas:</strong> {{ imovel['vagas'] }}</p>
        <p><strong>Área:</strong> {{ imovel['area'] }} m²</p>
        <p><strong>Valor Condomínio:</strong> R$ {{ imovel['valor_condominio'] }}</p>
        <p><strong>Valor Aluguel:</strong> R$ {{ imovel['valor_aluguel'] }}</p>
        <p><strong>Valor Compra:</strong> R$ {{ imovel['valor_compra'] }}</p>
        {% if imovel['fotos'] %}
          <img src="/static/uploads/{{ imovel['fotos'].split(';')[0] }}" alt="Foto do imóvel">
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</body>
</html>
